[Unit]
Description=Convert yesterday's top snapshots to CSV
RequiresMountsFor=/opt/opengeofiction

[Service]
Type=oneshot
User=ogf
Group=ogf
ExecStart=/opt/opengeofiction/ogf-server-scripts/bin/parseSysStats.pl -dir /opt/opengeofiction/sys-stats -dest /var/www/html/data.opengeofiction.net/public_html/sys-stats/sys-stats.csv
[Install]
WantedBy=default.target
