[Unit]
Description=Changeset summaries for the automated reports, from ogf.changeset_ip
RequiresMountsFor=/opt/opengeofiction

[Service]
Type=oneshot
User=ogf
Group=ogf
EnvironmentFile=/etc/opengeofiction/db.env
ExecStart=/opt/opengeofiction/ogf-server-scripts/bin/changesetInfo.pl -host localhost -user ${DB_USER} -db ${DB_NAME} -password ${DB_PASSWORD} -od /opt/opengeofiction/ip-data
[Install]
WantedBy=default.target
