[Unit]
Description=Snapshot passenger-status to sys-stats
RequiresMountsFor=/opt/opengeofiction

[Service]
Type=oneshot
User=root
Group=root
Environment=PASSENGER_INSTANCE_REGISTRY_DIR=/run/passenger-instreg
ExecStart=/opt/opengeofiction/ogf-server-scripts/bin/sysStatsPassenger.sh
[Install]
WantedBy=default.target
