[Unit]
Description=Dump recent changeset comments for review
RequiresMountsFor=/opt/opengeofiction

[Service]
Type=oneshot
User=ogf
Group=ogf
EnvironmentFile=/etc/opengeofiction/db.env
ExecStart=/opt/opengeofiction/ogf-server-scripts/bin/dumpChangesetComments.sh
[Install]
WantedBy=default.target
