[Unit]
Description=Publish minutely OSM change files from the API database (osmdbt)
Wants=postgresql.service
After=postgresql.service
RequiresMountsFor=/opt/opengeofiction

[Service]
Type=oneshot
User=ogf
Group=ogf
ExecStart=/opt/opengeofiction/ogf-server-scripts/bin/osmdbtReplication.sh

[Install]
WantedBy=default.target
